<ol class="post-list">
    {{#each posts as |post|}}
    <li>
        {{!--  all we need is the > character, followed by the name of the partial file 
        and the `object - in this post` we'll pass to the partial. --}}
      {{> post-info post}}  
    </li>
    {{/each}}
</ol>